In [0]:
Create Spark Session 
Read DataSets From csv
Visualize DataFrame
Select Column From DataFrame
Adding Columns In DataFrame
Drop Columns
Adding Rows In DataFrame
Rename Columns 
Check DataTypes

In [0]:
import pyspark

In [0]:
# PySpark applications start with initializing SparkSession which is the entry point of PySpark
from pyspark.sql import SparkSession

In [0]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [0]:
spark

In [0]:
df_pyspark=spark.read.csv('/FileStore/tables/test1.csv')
# Notice how output says c0(column0) is string,etc (does'nt mention proper name of column)

In [0]:
df_pyspark=spark.read.option('header','true').csv('/FileStore/tables/test1.csv')
# Column Headers Are Visible Now

In [0]:
type(df_pyspark)

Out[15]: pyspark.sql.dataframe.DataFrame

In [0]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [0]:
df_pyspark.head(2)

Out[29]: [Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000)]

In [0]:
df_pyspark.printSchema()
# Notice age, salary and experience Column Are String,Instead Of Int Which Was Provided as Int In .csv File

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [0]:
# InferSchema = True Solves Above Problem
df_pyspark=spark.read.option('header','true').csv('/FileStore/tables/test1.csv',inferSchema=True)

In [0]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [0]:
df_pyspark.select(['Name']).show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [0]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [0]:
# Adding a Column Which Tells Age Of Every Person After 5 years
df_pyspark = df_pyspark.withColumn('Age After 5 Years',df_pyspark['age']+5)

#  PySpark lit() function is used to add a constant value to a DataFrame column
from pyspark.sql.functions import lit
df_pyspark = df_pyspark.withColumn("Country", lit("INDIA"))

In [0]:
df_pyspark.show()

+---------+---+----------+------+-----------------+-------+
|     Name|age|Experience|Salary|Age After 5 Years|Country|
+---------+---+----------+------+-----------------+-------+
|    Krish| 31|        10| 30000|               36|  INDIA|
|Sudhanshu| 30|         8| 25000|               35|  INDIA|
|    Sunny| 29|         4| 20000|               34|  INDIA|
|     Paul| 24|         3| 20000|               29|  INDIA|
|   Harsha| 21|         1| 15000|               26|  INDIA|
|  Shubham| 23|         2| 18000|               28|  INDIA|
+---------+---+----------+------+-----------------+-------+

In [0]:
df_pyspark=df_pyspark.drop('Age After 5 Years')

In [0]:
df_pyspark.show()

+---------+---+----------+------+-------+
|     Name|age|Experience|Salary|Country|
+---------+---+----------+------+-------+
|    Krish| 31|        10| 30000|  INDIA|
|Sudhanshu| 30|         8| 25000|  INDIA|
|    Sunny| 29|         4| 20000|  INDIA|
|     Paul| 24|         3| 20000|  INDIA|
|   Harsha| 21|         1| 15000|  INDIA|
|  Shubham| 23|         2| 18000|  INDIA|
+---------+---+----------+------+-------+

In [0]:
columns = ['Name', 'age', 'Experience', 'Salary','Country']
newRow = spark.createDataFrame([('Pragya','21','2','400000','INDIA')], columns )
appended = df_pyspark.union(newRow)
appended.show()

+---------+---+----------+------+-------+
|     Name|age|Experience|Salary|Country|
+---------+---+----------+------+-------+
|    Krish| 31|        10| 30000|  INDIA|
|Sudhanshu| 30|         8| 25000|  INDIA|
|    Sunny| 29|         4| 20000|  INDIA|
|     Paul| 24|         3| 20000|  INDIA|
|   Harsha| 21|         1| 15000|  INDIA|
|  Shubham| 23|         2| 18000|  INDIA|
|   Pragya| 21|         2|400000|  INDIA|
+---------+---+----------+------+-------+

In [0]:
adf_pyspark.withColumnRenamed('Name','FirstName').show()

+---------+---+----------+------+-------+
|FirstName|age|Experience|Salary|Country|
+---------+---+----------+------+-------+
|    Krish| 31|        10| 30000|  INDIA|
|Sudhanshu| 30|         8| 25000|  INDIA|
|    Sunny| 29|         4| 20000|  INDIA|
|     Paul| 24|         3| 20000|  INDIA|
|   Harsha| 21|         1| 15000|  INDIA|
|  Shubham| 23|         2| 18000|  INDIA|
+---------+---+----------+------+-------+

In [0]:
df_pyspark.dtypes

Out[40]: [('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]